<section class="slot-main-container">
  <div>
    <div class="win-condition-container">

      <div [style.background-color]="bgColorCombination" class="combo1"><img src="./assets/images/BAR.png"></div>
      <div [style.background-color]="bgColorCombination" class="combo2"><img src="./assets/images/BAR.png"></div>
      <div [style.background-color]="bgColorCombination" class="combo3"><img src="./assets/images/2xBAR.png"></div>
      <div [style.background-color]="bgColorCombination" class="combo4"><img src="./assets/images/3xBAR.png"></div>
      <div [style.background-color]="bgColorCombination" class="combo5"><img src="./assets/images/Cherry.png"></div>
      <div [style.background-color]="bgColorCombination" class="combo6"><img src="./assets/images/7.png"></div>
      <div [style.background-color]="bgColorCombination" class="combo7"><img src="./assets/images/Cherry.png"></div>
      <div [style.background-color]="bgColorCombination" class="combo8"><img src="./assets/images/Cherry.png"></div>
      <div [style.background-color]="bgColorCombination" class="combo9"><img src="./assets/images/Cherry.png"></div>

      <div [style.background-color]="bgColorCombination" class="combo1"><img src="./assets/images/BAR.png"></div>
      <div [style.background-color]="bgColorCombination" class="combo2"><img src="./assets/images/BAR.png"></div>
      <div [style.background-color]="bgColorCombination" class="combo3"><img src="./assets/images/2xBAR.png"></div>
      <div [style.background-color]="bgColorCombination" class="combo4"><img src="./assets/images/3xBAR.png"></div>
      <div [style.background-color]="bgColorCombination" class="combo5"><img src="./assets/images/7.png"></div>
      <div [style.background-color]="bgColorCombination" class="combo6"><img src="./assets/images/7.png"></div>
      <div [style.background-color]="bgColorCombination" class="combo7"><img src="./assets/images/Cherry.png"></div>
      <div [style.background-color]="bgColorCombination" class="combo8"><img src="./assets/images/Cherry.png"></div>
      <div [style.background-color]="bgColorCombination" class="combo9"><img src="./assets/images/Cherry.png"></div>

      <div [style.background-color]="bgColorCombination" class="combo1"></div>
      <div [style.background-color]="bgColorCombination" class="combo2"><img src="./assets/images/BAR.png"></div>
      <div [style.background-color]="bgColorCombination" class="combo3"><img src="./assets/images/2xBAR.png"></div>
      <div [style.background-color]="bgColorCombination" class="combo4"><img src="./assets/images/3xBAR.png"></div>
      <div [style.background-color]="bgColorCombination" class="combo5"></div>
      <div [style.background-color]="bgColorCombination" class="combo6"><img src="./assets/images/7.png"></div>
      <div [style.background-color]="bgColorCombination" class="combo7"><img src="./assets/images/Cherry.png"></div>
      <div [style.background-color]="bgColorCombination" class="combo8"><img src="./assets/images/Cherry.png"></div>
      <div [style.background-color]="bgColorCombination" class="combo9"><img src="./assets/images/Cherry.png"></div>

      <div [style.background-color]="bgColorCombination" class="combo1">Any line</div>
      <div [style.background-color]="bgColorCombination" class="combo2">Any line</div>
      <div [style.background-color]="bgColorCombination" class="combo3">Any line</div>
      <div [style.background-color]="bgColorCombination" class="combo4">Any line</div>
      <div [style.background-color]="bgColorCombination" class="combo5">Any line</div>
      <div [style.background-color]="bgColorCombination" class="combo6">Any line</div>
      <div [style.background-color]="bgColorCombination" class="combo7">Central line</div>
      <div [style.background-color]="bgColorCombination" class="combo8">Top line</div>
      <div [style.background-color]="bgColorCombination" class="combo9">Bottom line</div>

      <div [style.background-color]="bgColorCombination" class="combo1">5</div>
      <div [style.background-color]="bgColorCombination" class="combo2">10</div>
      <div [style.background-color]="bgColorCombination" class="combo3">20</div>
      <div [style.background-color]="bgColorCombination" class="combo4">50</div>
      <div [style.background-color]="bgColorCombination" class="combo5">75</div>
      <div [style.background-color]="bgColorCombination" class="combo6">150</div>
      <div [style.background-color]="bgColorCombination" class="combo7">1000</div>
      <div [style.background-color]="bgColorCombination" class="combo8">2000</div>
      <div [style.background-color]="bgColorCombination" class="combo9">4000</div>
    </div>
    <div class="slot-machine">
      <div class="slot-top">
        <div class="player-score-container">
          <span class="flying-money" [ngClass]="{'fly': showDebitMoney}"
            *ngIf="debitedMoney === -1">{{debitedMoney}}</span>
          <span class="flying-money" [ngClass]="{'fly-red': showDebitMoney}"
            *ngIf="debitedMoney !== -1">{{debitedMoney}}</span>
          <input type="number" class="balance" [(ngModel)]="playerScore" [disabled]="isSpinning">

          <div id="slot-display">
            <div id="slot-overlay"></div>
            <div id="slot-overlay-line"></div>
            <div id="slot-credits">15</div>
            <div id="slot-zeros">00000000000</div>

          </div>
        </div>


      </div>
    </div>

    <section class="slot-reel-container">
      <div class="depth-giver">
        <div class="wheel-container">
          <div #wheelCell1 class="wheel">
            <img [attr.data-position]="4" src="/assets/images/Cherry.png" alt="3 BAR image">
            <img [attr.data-position]="3" src="/assets/images/3xBAR.png" alt="BAR image">
            <img [attr.data-position]="1" src="/assets/images/7.png" alt="7 image">
            <img [attr.data-position]="2" src="/assets/images/2xBAR.png" alt="2 BAR image">
            <img [attr.data-position]="5" src="/assets/images/BAR.png" alt="Cherry image">
          </div>
        </div>
        <div class="wheel-container">
          <div #wheelCell2 class="wheel">
            <img [attr.data-position]="4" src="/assets/images/Cherry.png" alt="3 BAR image">
            <img [attr.data-position]="3" src="/assets/images/3xBAR.png" alt="BAR image">
            <img [attr.data-position]="1" src="/assets/images/7.png" alt="7 image">
            <img [attr.data-position]="2" src="/assets/images/2xBAR.png" alt="2 BAR image">
            <img [attr.data-position]="5" src="/assets/images/BAR.png" alt="Cherry image">
          </div>
        </div>
        <div class="wheel-container">
          <div #wheelCell3 class="wheel">
            <img [attr.data-position]="4" src="/assets/images/Cherry.png" alt="3 BAR image">
            <img [attr.data-position]="3" src="/assets/images/3xBAR.png" alt="BAR image">
            <img [attr.data-position]="1" src="/assets/images/7.png" alt="7 image">
            <img [attr.data-position]="2" src="/assets/images/2xBAR.png" alt="2 BAR image">
            <img [attr.data-position]="5" src="/assets/images/BAR.png" alt="Cherry image">
          </div>
        </div>

        <div [ngClass]="{'active': line1Score !== 0 && 
        line1Score === getMaxScore()}" class="wheel-line top"></div>
        <div [ngClass]="{'active': line2Score !== 0 && 
        line2Score === getMaxScore()}" class="wheel-line center"></div>
        <div [ngClass]="{'active': line3Score !== 0 && 
        line3Score === getMaxScore()}" class="wheel-line bottom"></div>
      </div>
      <!-- <div class="win-red-line first-line" [ngClass]="{'winner': line1Score != 0 && 
                             line1Score == math.max(line1Score,
                                            line2Score,
                                            line3Score)}">
      </div>
      <div class="win-red-line second-line" [ngClass]="{'winner': line2Score != 0 && 
                            line2Score == math.max(line1Score,
                                           line2Score,
                                           line3Score)}">
      </div>
      <div class="win-red-line third-line" [ngClass]="{'winner': line3Score != 0 && 
                            line3Score == math.max(line1Score,
                                           line2Score,
                                           line3Score)}">
      </div> -->
      <!-- <div id="shoulder" (click)="!isSpinning && startReel()">
        <div id="arm" [ngClass]="{'clicked': armClicked}">
        </div>
      </div> -->
      <div id="slot-trigger">
        <div class="arm clicked" (click)="!isSpinning && knobPulled()">
          <div class="knob"></div>
        </div>
        <div class="arm-shadow"></div>
        <div class="ring1">
          <div class="shadow"></div>
        </div>
        <div class="ring2">
          <div class="shadow"></div>
        </div>
      </div>
    </section>
  </div>
</section>